
<nav class="navbar navbar-expand-lg navbar-light" style= "background-color:FFFFFF; margin-top:50px; margin-bottom:25px;">
        <a class="navbar-brand" href="/"> <img src="/static/logo.PNG" class="align-text-bottom" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"></a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Çeviri İşlemş Yapılan Diller.
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/crm/translate/">İnglizce</a>
                <a class="dropdown-item" href="/crm/translate/">Almanca</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/crm/translate/">Rusça</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact/contact">İletişim</a>
            </li>
            
          </ul>
          <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Özel Dersler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/contact/almanca/">Almanca</a>
                          <a class="dropdown-item" href="/contact/england/">İngilizce</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/contact/flamenco/">Flamenco Gitar</a>
                          <a class="dropdown-item" href="/contact/flamenco/">Classic Gitar</a>
                        </div>
                      </li>
                      <a type="button" class="btn btn-warning rounded" href="/contact/net/">Çeviri Hesapla</a>
                      {% if request.user.is_authenticated %}
                      <li class="nav-item active">
                        <a class="nav-link" href="/user/logout"> <i class="fas fa-sign-in-alt"></i></a>
                      </li>
                      {% else %}
                      
                    <li class="nav-item active">
                            <a class="nav-link" href="/user/login"> <i class="fas fa-door-open"></i> Giriş</a>
                    </li>
                    
                    <li class="nav-item active">
                      <a class="nav-link" href="/user/register"> <i class="fas fa-users"></i> Kayıt</a>
                    </li>
                    {% endif %}
              </ul>
        </div>
      </nav>