{% extends "layout.html" %}

{% block body %}

<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Almanca Öğrenmek Artık Daha Kolay. Neden Almanca Öğrenmeliyim ? <span class="text-muted"></span></h2>
      <p class="lead">Almanca öğrenmenin avantajlarından biri Türkiye’de iş imkanları sağlamasıdır. Ekonomisi güçlü ülkeler tarafından konuşulduğu için, bu lisanı iyi derecede bildiğiniz takdirde kariyerinizde yükselmenizi sağlayacaktır.

        Ayrıca Almanya’da yaşayan Türk nüfusunun çok olması ve ülkemizi ziyaret eden Alman turistlerin sayısının fazla olması bu lisanın ne kadar önemli olduğunun nedenlerindendir.
        
        Almanca, dünya üzerinde geniş coğrafyalara yayılmış olup aktif bir lisan konumundadır. Bu lisanı öğrenerek çoğu Avrupa ülkesinde faydalanabilirsiniz. Almanca Öğrenmeye mi İhtiyacınız Var ?

        Almanca Eğitim Seti ile bu lisanı kısa sürede öğrenebileceksiniz. Almanca’nın zor olduğunu düşünmeyin. Uzman hocamızın anlatımıyla daha kolay öğreneceksiniz.
        
        Ayrıca  Almanca el kitabı ile de bilgilerinizi arttırabilirsiniz. ilk 11 Konumuz aşağıdaki gibidir.
        </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded" src="/static/almanya.png" alt="Generic placeholder image1">
    </div>
  </div>

</div>
<hr>
<table class="table container">
    <thead>
      <tr>
        <th scope="col">*</th>
        <th scope="col">Konu</th>
        <th scope="col"></th>
        <th scope="col">Ders Sayısı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Buchstabieren</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Yan yana harfler</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Begrüssung</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Redemittel</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Die Zahlen 0 20</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Sich vorstellen A</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Wie heissen Sie Du</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Satzbau 1</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Ja Nein Fragen</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Personalpronomen</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Konjugation</td>
        <td><i class="fas fa-book-open"></i></td>
        <td>6</td>
      </tr>

    </tbody>
  </table>
  <hr class="container">
  <footer class="container">
    <p class="float-right"><a href="/contact/contact/">Bize Ulaşın</a></p>
    <p>&copy; 2017-2018 Tercüman48, Inc. &middot; <a href="/">Desing by</a> &middot; <a href="https://people.djangoproject.com/sunmar/"><i class="fab fa-python"></i></a></p>
  </footer>
</main>

{% endblock body %}