{% extends "layout.html" %}

{% block body %}

<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Kraliçe Sizi Çağrıyor. <span class="text-muted"></span></h2>
      <p class="lead">
            
        İngilizcede bir milyonun üzerinde kelime bulunmaktadır. Bazıları basit tanımlar, bazıları nokta atışı anlamlar ve bazıları da sadece telaffuz edildiğinde kulağa hoş gelen kelimler. Kelimeler, harflerin yanyana gelmesinden çok daha fazlaşıdır. Bir araya gelerek cümleleri, cümleler paragrafları, kitapları ve hikayeleri oluştururlar...
        Ana dilimiz dışında yeni bir dil öğrenirken onu olabildiğince kusursuz öğrenmek isteriz. Öyle ki konuşurken o dili sonradan öğrenmiş olduğumuz belli olmasın diye çabalarız. İngilizce bugün öğrenilmesi en kolay dillerden biri olarak görülse de, gerek kendi alfabemizde olmayan sesler yüzünden, gerekse anadilimizde olmayan çeşitli dil bilgisi özellikleri yüzünden konu telaffuza geldiğinde bizi çeşitli sorunlarla baş başa bırakabiliyor. Bu nedenle kelimeleri doğru telaffuz ettiğimizi düşünsek de ana dili İngilizce olan biri için söylediklerimizi anlamak kimi zaman zor olabiliyor.
        Ders Konularımız Aşağıdaki Gibidir.Uluslar Arası Akedemik müfredat ile hazırlanmıştır, ilk 11 Konumuz  aşağıdaki gibidir.
    </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded" src="/static/england.jpg" alt="Generic placeholder image1">
    </div>
  </div>

</div>
<hr>
<table class="table container">
    <thead>
      <tr>
        <th scope="col">*</th>
        <th scope="col">Konu</th>
        <th scope="col"></th>
        <th scope="col">Ders Sayısı</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>İsimler</td>
        <td><i class="fas fa-book"></i></td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Kelimeler</td>
        <td><i class="fas fa-book"></i></td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Simple Present Tense</td>
        <td><i class="fas fa-book"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Present Continuous Tense</td>
        <td><i class="fas fa-book"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Simple Past Tense</td>
        <td><i class="fas fa-book"></i></td>
        <td>6</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Soru Sormak</td>
        <td><i class="fas fa-book"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Sıfat</td>
        <td><i class="fas fa-book"></i></td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Zamirler</td>
        <td><i class="fas fa-book"></i></td>
        <td>6</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Past Continuous</td>
        <td><i class="fas fa-book"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Past Perfect Tense</td>
        <td><i class="fas fa-book"></i></td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Past Perfect Tense Continuous</td>
        <td><i class="fas fa-book"></i></td>
        <td>6</td>
      </tr>

    </tbody>
  </table>
  <hr class="container">
  <footer class="container">
    <p class="float-right"><a href="/contact/contact/">Bize Ulaşın</a></p>
    <p>&copy; 2017-2018 Tercüman48, Inc. &middot; <a href="/">Desing by</a> &middot; <a href="https://people.djangoproject.com/sunmar/"><i class="fab fa-python"></i></a></p>
  </footer>
</main>

{% endblock body %}