{% extends "layout.html" %}


{% block body %}
<div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">1-9 Sayfa Arası</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><i class="fas fa-lira-sign"></i>25</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Tüm Çeviriler</li>
            <li>Kitab Çevirileri</li>
            <li>Yüklü Çeviriler</li>
            <li>Resmi Çeviriler</li>
          </ul>
          <a type="button" class="btn-block btn btn-warning rounded" href="/contact/contact/">Bize Ulaşın</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">10-19 Sayfa Arası</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><i class="fas fa-lira-sign"></i>19</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Resmi Çeviriler</li>
            <li>Satış Çevirileri</li>
            <li>Kontrat </li>
            <li>Yazışma</li>
          </ul>
          <a type="button" class="btn-block btn btn-warning rounded" href="/contact/contact/">Bize Ulaşın</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">20-29 Sayfa Arası</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><i class="fas fa-lira-sign"></i>14</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Özel Çeviriler</li>
            <li>Protokol</li>
            <li>İş Sözleşmeleri</li>
            <li>Banka Çevirileri</li>
          </ul>
          <a type="button" class="btn-block btn btn-warning rounded" href="/contact/contact/">Bize Ulaşın</a>
        </div>
      </div>
    </div>
    <hr class="container">
  <footer class="container">
    <p class="float-right"><a href="/contact/contact/"></a></p>
    <p>&copy; 2017-2018 Tercüman48, Inc. &middot; <a href="/">Desing by</a> &middot; <a href="https://people.djangoproject.com/sunmar/"><i class="fab fa-python"></i></a></p>
  </footer>
</main>

{% endblock body %}